name: Hourly Feature Pipeline

on:
  schedule:
    - cron: '0 * * * *' # Har ghante ke start par chalega
  workflow_dispatch: # Manual run ka option bhi deta hai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install hopsworks==4.2.*
          pip install -r requirements.txt

      - name: Run Backfill/Update
        env:
          HOPSWORKS_KEY: ${{ secrets.HOPSWORKS_KEY }}
        run: python data_pipeline/backfills.py # Ya aapka update script
